@using System.Web.Optimization
@using CommerceWebClient.Extensions
@using StoreWebApp.Models
@using StoreWebApp.Virto.Helpers.MVC
<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="title" content="@ViewBag.Title" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/default/css")
    @StoreStyle.Render("~/Content/themes/{0}/css")
    <!--[if lt IE 9 ]> <link type="text/css" rel="stylesheet" href="~/Content/themes/default/iefix.css" />   <![endif]-->
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,cyrillic-ext,cyrillic" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/responsive")
  
    <base href="~/" />
</head>
<body>
    <!--Disable ajax cache-->
    <script>$(function () { $.ajaxSetup({ cache: false }); });</script>
    <div id="layout">
        <div class="demo-notice">
            <p>@("This is a demo store. Any orders placed through this store will not be honored or fulfilled.")</p>
        </div>
        <div class="header-wrap">
            <div class="head-top">
                <div class="rubber clearfix">
                    <div>
                        <div class="head-switch">
                            <span>
                                @("Store"):
                                <span class="current">
                                    @{ Html.RenderPartial("StoreParams");}
                                </span>
                            </span>
                            <ul>
                                @{Html.RenderPartial("Languages");}
                            </ul>

                        </div>
                    </div>
                    <div>
                        <ul class="head-links"></ul>
                    </div>
                </div>
            </div>
            <header role="banner" class="header">
                <div class="rubber clearfix">
                    <div class="grid_12">
                        <p></p>
                        @RenderSection("Navigation", false)
                        @RenderSection("MiniActions", false)
                    </div>
                </div>
            </header>
        </div>
        <div class="article-wrap">
            <div class="rubber">
                @{
                    var messages = Html.SharedViewBag().Messsages as MessagesModel;
                }
                <ul id="messages" class="messages" style="@(messages != null && messages.Any() ? "" : "display:none;")">
                    @{
                        if (messages != null && messages.Any())
                        {

                            foreach (var messageGrp in messages.GroupBy(m => m.Type))
                            {
                                <li class="@messageGrp.Key.ToString().ToLower()">
                                    <ul>
                                        @foreach (var message in messageGrp)
                                        {
                                            <li><span>@message.Text</span></li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    }
                </ul>

                @RenderBody()
            </div>
           
        </div>
        
        
        @{
            Html.RenderAction("Footer", "Store", true);
        }
    </div> @*end of div id="layout"*@
  
    
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymisc")
    @RenderSection("scripts", required: false)
</body>
</html>
