
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Oops";
}



<div class="empty normal">
    <h2>@("We are updating this site")</h2>
    <p>
        @("We're sorry, we are updating our application. Please refresh the page in a few minutes.")
    </p>
    <p>
        @("Go to") <a href="@Href("~/")">@("Home Page")</a>
    </p>
</div>